<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"      
      >

  <extensions>
    <add assembly="NLog.Targets.Network"/>
  </extensions>

  <targets>
    <!-- 1. System Log (Daily) -->
    <target xsi:type="File" name="sysFile"
            fileName="${basedir}/_log/ATSA_${date:format=yyyyMMdd_HH0000}.log"
            layout="${time} | ${level:uppercase=true} | [${logger}] ${message}${onexception:${newline}${exception:format=tostring}}"
            encoding="utf-8"
            keepFileOpen="false" />

    <!-- 2. Channel Log (CNO specific) -->
    <target xsi:type="File" name="channelFile"
            fileName="${basedir}/_log/CNO_${event-properties:item=CNO}_${date:format=yyyyMMdd}.log"
            layout="${time} | ${level:uppercase=true} | ${message}"
            encoding="utf-8"
            keepFileOpen="false" />
      
    <target xsi:type="Console" name="logconsole" 
            layout="${time} | ${level:uppercase=true} | ${message}" />
      
    <target xsi:type="Network" name="network" 
            address="tcp://127.0.0.1:878" 
            newLine="true">
      <layout xsi:type="Log4JXmlLayout" />
    </target>
  </targets>

  <rules>
    <!-- Default: System Log -->
    <logger name="*" minlevel="Info" writeTo="sysFile,network" />
    
    <!-- CNO property present: Channel Log -->
    <logger name="*" minlevel="Trace" writeTo="channelFile">
      <filters defaultAction="Ignore">
        <when condition="length('${event-properties:item=CNO}') > 0" action="Log" />
      </filters>
    </logger>
  </rules>
</nlog>
