<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="${basedir}/_log/internal-nlog.txt">

  <targets>
    <!-- [v9.0] YouTube 전용 로그 설정: _log/AY-yyyyMMdd-HHmmss.log -->
    <target xsi:type="File" name="ayLogFile"
            fileName="${basedir}/_log/AY-${date:format=yyyyMMdd-HHmmss}.log"
            layout="${time} | ${level:uppercase=true} | [${logger}] ${message} ${exception:format=tostring}"
            encoding="utf-8"
            keepFileOpen="false" />

    <target xsi:type="Console" name="logconsole" 
            layout="${time} | ${level:uppercase=true} | ${message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="ayLogFile,logconsole" />
  </rules>
</nlog>
